<div class="truffle-container">
    <h1>Consultas Amir</h1>
    
    <label for="accountInput">Introduce la dirección de la cuenta:</label>
    <input id="accountInput" (input)="onAccountInput($event)" placeholder="0x..." class="truffle-input" />
  
    <button (click)="fetchAccountInfo()" class="truffle-btn">Obtener Información</button>
  
    <div *ngIf="loading" class="loader"></div> <!-- Aquí está la barra de carga -->

    <div *ngIf="account && balance !== undefined && transactionCount !== undefined" class="info-box">
      <h2>Información de la Cuenta</h2>

      <div class="info-card">
        <p class="info-title">Cuenta:</p>
        <p class="info-value">{{ account }}</p>
      </div>

      <div class="info-card">
        <p class="info-title">Saldo:</p>
        <p class="info-value">{{ balance }} ETH</p>
      </div>

      <div class="info-card">
        <p class="info-title">Transacciones Enviadas:</p>
        <p class="info-value">{{ transactionCount }}</p>
      </div>
    </div>
  
    <div *ngIf="loading" class="loading-message">
      <p>Cargando información...</p>
    </div>
</div>
